@charset "utf-8";

@font-face{
    font-family: "Ubuntu";
    src: url(../assets/fonts/Ubuntu-Regular.ttf);
}

@font-face{
    font-family: "Open Sans";
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

#body{
    background: rgba(20, 24, 33, 1);
}

#mensaje-cs{
    width: 100%;
    height: 100vh;
    border: 7.5px rgba(0, 128, 96, 1) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text-cs{
    font-family: "Ubuntu";
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 128, 96, 1);
}