/* Codificación de Caracteres */
@charset "utf-8";

/* Fuentes */
@font-face{
    font-family: "Ubuntu";
    src: url(../assets/fonts/Ubuntu-Regular.ttf);
}

@font-face{
    font-family: "Open Sans";
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

/* Código de Preset */

:root{
    --rich-black: #141821;
    --spanish-viridian: #008060;
    --alice-blue: #F1F8FB;
    --jet-gray: #303030;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

*,*::before,*::after{
    box-sizing: border-box;
}

html{
    font-family: "Open Sans";
    line-height: 1.5;
}

html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,pre,code,address,variable,fieldset,blockquote{
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-weight: normal;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

td,th,caption{
    font-weight: normal;
    text-align: justify;
}

img,fieldset{
    border: 0;
}

ol{
    padding-left: 1.5rem;
    list-style: decimal;
}

ul{
    padding-left: 1.5rem;
    list-style: square;
}

/* Grid View */

.row::after{
    content: "";
    clear: both;
    display: table;
}

[class*='col-']{
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Estilo de la página */

body{
    background: var(--rich-black);
}

/* Header */

header#menu{
    font-family: "Ubuntu";
    height: 85px;
    border-bottom: 5px var(--spanish-viridian) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

#logo figcaption{
    margin-top: -5px;
    font-size: 5rem;
    font-weight: bolder;
    color: var(--spanish-viridian);
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

#navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    list-style: none;
}

.list-item{
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto 15px;
}

.list-item > a{
    text-decoration: none;
    color: var(--spanish-viridian);
    padding: 15px 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.list-item > a:hover{
    text-decoration: none;
    background-color: var(--spanish-viridian);
    border-radius: 5px;
    color: var(--alice-blue);
}

/* Mensaje de Bienvenida */

#welcome{
    overflow: hidden;
    height: calc(100vh - 85px) !important;
    background-color: rgba(20, 24, 33, .65);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#welcome video{
    object-fit: cover;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.welcome-message{
    font-family: "Ubuntu";
}

.welcome-message span{
    text-align: left;
    color: var(--alice-blue);
    font-size: 3rem;
}

.welcome-message h1{
    text-align: center;
    color: var(--spanish-viridian);
    font-size: 7.75rem;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 1;
}

/* Sección "Sobre mí" */

#about{
    padding: 30px 0 0 0;
    /* border-top: 5px var(--spanish-viridian) solid; */
}

.section-header{
    display: block;
}

.section-title{
    font-family: "Ubuntu";
    font-size: 4.5rem;
    line-height: 70px;
    font-weight: 800;
    text-align: center;
    color: var(--spanish-viridian);
    margin-bottom: 25px;
}

.section-title::after{
    background-color: var(--spanish-viridian);
    position: relative;
    display: block;
    content: "";
    height: 2px;
    width: 30px;
    margin: 10px auto 20px;
}

.about-section-tagline{
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 300;
    color: var(--alice-blue);
    text-align: center;
    max-width: 550px;
    margin: auto auto 80px auto;
}

.about-filter{
    background-color: var(--jet-gray);
}

.container{
    margin: 0 auto;
    max-width: 1140px;
    width:90%;
}

ul.filter{
    visibility: visible;
    text-align: center;
    margin-bottom: 0;
    list-style: none outside;
}

ul.filter > li{
    position: relative;
    display: inline-block;
    margin: 0 25px;
    text-align: center;
}

ul.filter > li a{
    display: inline-block;
    line-height: 60px;
    font-size: 1.5rem;
    color: var(--alice-blue);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

ul.filter > li a:hover{
    color: var(--spanish-viridian);
}

ul.filter >li.active a{
    color: var(--spanish-viridian);
}

#sobre-mi{
    padding-top: 100px;
}

.columna{
    float: left;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

p{
    margin: 0 0 25px 0;
    font-family: "Open Sans";
    font-size: 1.825rem;
    color: var(--alice-blue);
    text-align: justify;
}

#profile{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#profile figure{
    margin: 0 auto;
}

#profile img{
    width: 370px;
    height: 370px;
    border-radius: 10px;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skills div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.skills figure{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skills img{
    height: 80px;
    width: 80px;
}

#lang figcaption{
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--alice-blue);
    text-align: center;
    margin: 10px 0 25px 0;
}

#tech ul{
    margin: -15px 0 15px 15px;
    list-style-type: none;
}

#tech ul li{
    font-size: 1.7rem;
    color: var(--spanish-viridian);
    margin: 2.5px auto;
}

#tech ul li span{
    color: var(--alice-blue);
}

#more-info p{
    padding: 0 150px;
}

#soft-skills figcaption{
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--alice-blue);
    text-align: center;
    margin: 15px 0 10px 0;
}

/* Sección "Descarga de CV" */

#cv-download{
    background-color: var(--spanish-viridian);
    margin-top: 50px;
    padding: 50px 0;
}

#download-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#download-info h2{
    font-size: 3rem;
    font-weight: 600;
    color: var(--alice-blue);
}

#download-info a{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--alice-blue);
    border: 1px var(--alice-blue) solid;
    border-radius: 5px;
    letter-spacing: 1.5px;
    padding: 10px 36px;
    text-decoration: none;
    text-transform: uppercase;
}

#download-info a:hover{
    color: var(--spanish-viridian);
    background-color: var(--alice-blue);
}

/* Sección "Servicios" */

.post-separator{
    padding-top: 50px;
}

.section-tagline{
    font-size: 2rem;
    font-weight: 300;
    color: var(--alice-blue);
    text-align: center;
    max-width: 550px;
    margin: auto auto 80px auto;
}



/* Sección "Proceso de Trabajo */



/* Sección "Proyectos" */



/* Sección "Contacto" */

#contacto{
    padding-top: 50px;
}

/* Pie de página */

footer{
    font-family: "Open Sans";
    background-color: var(--jet-gray);
    text-align: center;
    padding: 50px 0;
}

.footer-block{
    display: block;
    color: var(--alice-blue);
    font-size: 1.5rem;
}

.footer-block .fa-heart{
    color: var(--spanish-viridian);
    font-size: 14px;
}

#social::before{
    background-color: var(--spanish-viridian);
    position: relative;
    display: block;
    content: "";
    height: 2px;
    width: 30px;
    margin: 10px auto 20px;
}

#social{
    padding: 10px 0 0 0;
    text-align: center;
}

#social ul{
    margin: 0;
    list-style: none outside;
}

#social ul li{
    list-style: none;
    display: inline-block;
    margin: 5px 7px 5px 0;
}

#social ul li a{
    text-align: center;
    border-radius: 5px;
    color: var(--spanish-viridian);
    font-size: 2rem;
    border: 1px var(--alice-blue) solid;
    height: 32px;
    line-height: 32px;
    width: 32px;
    display: inline-block;
}

/* Código Responsive Extra Small */

@media screen and (max-width: var(--breakpoint-sm)){}

/* Código Responsive Small */

@media screen and (min-width: var(--breakpoint-sm)){}

/* Código Responsive Medium */

@media screen and (min-width: var(--breakpoint-md)){}

/* Código Responsive Large */

@media screen and (min-width: var(--breakpoint-lg)){}

/* Código Responsive Extra Large */

@media screen and (min-width: var(--breakpoint-xl)){}