---
import Section from "./Section.astro";
import Link from "./Link.astro";

import Logo from "~/assets/logos/logo.svg";
---

<nav class="fixed top-0 left-0 w-full z-10 bg-black">
  <Section class="flex justify-between items-center !py-2">
    <a href="/" class="flex justify-center items-center gap-2">
      <img src={Logo.src} alt="Logo" class="w-12 h-12" />
      <span class="text-2xl font-semibold font-rubik whitespace-nowrap">Hiram Gonzalez</span>
    </a>
    <ul class="flex space-x-4">
      <li>
        <Link href="/" title="About" />
      </li>
      <li>
        <Link href="/resume" title="Resume" />
      </li>
      <li>
        <Link href="/portfolio" title="Portfolio" />
      </li>
      <li>
        <Link href="/blog" title="Blog" />
      </li>
      <li>
        <Link href="/contact" title="Contact" />
      </li>
    </ul>
  </Section>
</nav>
