---
import Navbar from "~/components/Navbar.astro";
import "~/styles/tailwind.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Hiram Gonzalez's personal website." />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
	</head>
	<body class="flex min-h-screen flex-col font-inter text-white bg-black relative">
		<Navbar />
		<main class="flex-1">
			<slot />
		</main>
	</body>
</html>

<style is:global>
	:root {
		--white: #fefefe;
		--black: #25252b;
		--royal-blue: #4366e1;
		--mint: #21ba91;
		--cool-gray: #a9a9bc;
	}
</style>
